html {
    height: 100%;
    width: 100%;
    
  }
  
  body {
    height: 100%;
    width: 100%;
    font-family:"Abel";
    display: flex;
    justify-content: center;
    /* border: 5px solid rgb(0, 0, 0); */
    background-color: #002e49;
    
  }
  
  .center-box{
    width: 1400px;
    height: 1000px;
    display :flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* align-content: space-between; */
    /* border: 5px solid rgb(255, 0, 0); */
  }



  .logo-box{
    width: 800px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 5px solid rgb(0, 255, 55); */
  }
  
  
  

  
  #t40-pic{
  width: 300px; 
  height: 270px;
  /* mix-blend-mode:screen; */
  border: 5px double #efa300;
  }

  .text-box{
    width: 1400px;
    /* height: 1000px; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* border: 5px solid rgb(0, 0, 0); */
    background-color: rgb(71, 125, 77);
    /* border-radius: 25px; */
    padding-left: 15px;
    padding-right: 30px;
    /* opacity: 80%; */
  }

    
  p{
    color: rgb(0, 0, 0);
     font-size: 22px;
     text-align:left;
    }
    
 
  

.button-box{
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    /* border: 5px solid rgb(0, 26, 255); */
}

  .button {
    background-color: #205d83;
    height: 60px;
    width: 275px;
    font-size: 25px;
    text-align: center;
    border-radius:25px;
    font-family:"Abel";
    align-self: center;
    border: 2px solid rgb(71, 125, 77);
    color: rgb(0, 0, 0);
  }
  
  
  #exit:hover {
    background-color:#004a75;
    
    transition: 0.2s;
  }
