html {
    height: 100%;
    width: 100%;
    
  }
  
  body {
    height: 705px;
    width: 100vw;
    font-family:"Roboto";
    display: flex;
    justify-content: center;
    /* border: 5px solid rgb(0, 0, 0); */
    background-color: #8f6767;
    background-image: url('./Starlight bg.jpg');
    /* background-color: transparent; */
    /* background-position: center center;
    background-size:cover; */
    
  }
  
  .center-box{
    width: 1400px;
    height: 1000px;
    display :flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: space-between; */
    /* align-content: space-between; */
    /* border: 5px solid rgb(255, 0, 0); */
  }



  .pic-box{
    width: 1400px;
    height: 250px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 5px solid rgb(87, 59, 173); */
  }
  
  .audio-box{
    width: 1400px;
    height: 80px;
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 5px solid rgb(59, 173, 84); */
    background-color: rgb(165, 165, 165);
    opacity: 80%;
    border-radius: 25px;
  }

  audio{
    width: 570px;
    border-radius: 20px;

  }
  
  .text-box{
    width: 1400px;
    height: 410px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* border: 5px solid rgb(0, 0, 0); */
    background-color: rgb(117, 117, 117);
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 80%;
    
  }
  
  p{
  color: #ffffff;
   font-size: 24.5px;
   font-weight: 400;
   text-align:center;
  }
  
#quote{
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 1px 2px 6px #000000;
  text-align:center;
}
  
  #str{
    color: #000000;
    font-size: 24px;
    /* text-shadow: 4px 5px 6px #ffc2c2; */
    text-shadow: none;
  }
  
  #str-pic{
  /* width: 400px;  */
  /* height: 310px; */
  border: 5px solid rgb(255, 242, 0);
  }

  #thriller-alt-pic{
    width: 400px; 
    height: 310px;
    /* height: 100%; */
    /* mix-blend-mode:darken; */
    /* margin-top: 45px; */
    border: 5px solid rgb(139, 139, 139);
    }

  #bridge-pic{
    width: 450px; 
    /* height: 220px; */
    height: 285px;
    mix-blend-mode:screen;
    margin-top: 10px;
    align-self:center; 
    border-radius:25px;  }

  

.button-box{
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
    /* margin-top: 10px; */
    /* border: 5px solid rgb(0, 26, 255); */
}

  .button {
    background-color: #fbff00;
    height: 60px;
    width: 260px;
    font-size: 20px;
    text-align: center;
    border-radius:25px;
    font-family:"Roboto";
    align-self: center;
    border: 2px solid #000000;
  }
  
  #thriller:hover {
    background-color:#ff0000;
    transition: 0.2s;
  }
  
